/* scroll */
.scroll_vertical {
  scrollbar-width: thin;
  scrollbar-color: var(--by-gray-3);
}

.scroll_vertical::-webkit-scrollbar {
  width: 7px;
  height: 7px;
}

.scroll_vertical::-webkit-scrollbar-track {
  background-color: var(--by-gray);
}

.scroll_vertical::-webkit-scrollbar-thumb {
  background-color: var(--by-gray-3);
  border-radius: var(--by-radius);
}

.scroll_vertical::-webkit-scrollbar-thumb:hover {
  background-color: var(--by-gray-4);
}

.scroll_vertical::-webkit-scrollbar-corner {
  background-color: var(--by-gray);
  border-radius: 0 0 var(--by-radius) 0;
}
