.b {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  font-weight: var(--by-font-weight-button);
  white-space: nowrap;
  text-align: center;
  cursor: pointer;
  transition: all 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
  user-select: none;
  border: 1px solid var(--by-transparent);
}

.b .icon {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* size */

.large {
  font-size: var(--by-font-size-large);
  line-height: var(--by-line-height-large);
  height: var(--by-height-large);
  padding: var(--by-padding-large-y) var(--by-padding-large-x);
}

.large .icon,
.large .icon svg {
  width: var(--by-icon-large);
}

.large .icon svg {
  max-height: var(--by-icon-large);
  height: auto;
}

.medium {
  font-size: var(--by-font-size);
  line-height: var(--by-line-height);
  height: var(--by-height-medium);
  padding: var(--by-padding-medium-y) var(--by-padding-medium-x);
}

.medium .icon,
.medium .icon svg {
  width: var(--by-icon-medium);
}
.medium .icon svg {
  max-height: var(--by-icon-medium);
  height: auto;
}

.small {
  font-size: var(--by-font-size-small);
  line-height: var(--by-line-height-small);
  height: var(--by-height-small);
  padding: var(--by-padding-small-y) var(--by-padding-small-x);
}

.small .icon,
.small .icon svg {
  width: var(--by-icon-small);
}
.small .icon svg {
  max-height: var(--by-icon-small);
  height: auto;
}

/* fill */
.fill {
  width: 100%;
}

/* shape */
.round {
  border-radius: var(--by-radius);
}

.circle {
  border-radius: var(--by-radius-round);
}

/* style */
.flat {
  background-color: var(--by-transparent);
  color: var(--by-comfy-9);
}

.flat:hover {
  background-color: var(--by-gray-1);
  border-color: var(--by-gray-1);
}

.flat:focus {
  box-shadow: 0 0 0 2px var(--by-gray);
}

.primary {
  background-color: var(--by-binyal-color-6);
  color: var(--by-white);
  border-color: var(--by-binyal-color-6);
}

.primary:hover {
  background-color: var(--by-binyal-color-7);
  border-color: var(--by-binyal-color-7);
}

.primary:focus {
  box-shadow: 0 0 0 2px var(--by-binyal-color-3);
}

.warning {
  background-color: var(--by-yellow-5);
  color: var(--by-white);
  border-color: var(--by-yellow-5);
}

.warning:hover {
  background-color: var(--by-yellow-6);
  border-color: var(--by-yellow-6);
}

.warning:focus {
  box-shadow: 0 0 0 2px var(--by-yellow-1);
}

.danger {
  background-color: var(--by-red-6);
  color: var(--by-white);
  border-color: var(--by-red-6);
}

.danger:hover {
  background-color: var(--by-red-7);
  border-color: var(--by-red-7);
}

.danger:focus {
  box-shadow: 0 0 0 2px var(--by-red-3);
}

/* outline */
.outline_flat {
  background-color: var(--by-transparent);
  color: var(--by-comfy-9);
  border-color: var(--by-gray-3);
}

.outline_flat:hover {
  background-color: var(--by-gray-1);
}

.outline_primary {
  background-color: var(--by-transparent);
  color: var(--by-binyal-color-6);
  border-color: var(--by-binyal-color-6);
}

.outline_primary:hover {
  background-color: var(--by-binyal-color-6);
  color: var(--by-white);
}

.outline_warning {
  background-color: var(--by-transparent);
  color: var(--by-yellow-5);
  border-color: var(--by-yellow-5);
}

.outline_warning:hover {
  background-color: var(--by-yellow-5);
  color: var(--by-white);
}

.outline_danger {
  background-color: var(--by-transparent);
  color: var(--by-red-6);
  border-color: var(--by-red-6);
}

.outline_danger:hover {
  background-color: var(--by-red-6);
  color: var(--by-white);
}

/* disabled */
button.b:disabled {
  pointer-events: none;
  opacity: 0.75;
}
