.l {
  display: inline-block;
  position: relative;
  font-weight: var(--by-font-weight-button);
  white-space: nowrap;
  text-align: left;
  cursor: pointer;
  transition: all 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
  user-select: none;
  border: none;
  text-decoration: none;
  background-color: var(--by-transparent);
}

/* size */

.large {
  font-size: var(--by-font-size-large);
  line-height: var(--by-line-height-large);
}

.medium {
  font-size: var(--by-font-size);
  line-height: var(--by-line-height);
}

.small {
  font-size: var(--by-font-size-small);
  line-height: var(--by-line-height-small);
}

/* fill */
.fill {
  width: 100%;
}

/* shape */
.round {
  border-radius: var(--by-radius);
}

.circle {
  border-radius: var(--by-radius-round);
}

/* style */
.flat,
.lOutlineFlat {
  color: var(--by-comfy-9);
}

.flat:hover,
.outline_flat:hover {
  color: var(--by-black);
}

.primary,
.outline_primary {
  color: var(--by-binyal-color-6);
}

.primary:hover,
.outline_primary:hover {
  color: var(--by-binyal-color-7);
}

.warning,
.outline_warning {
  color: var(--by-yellow-5);
}

.warning:hover,
.outline_warning:hover {
  color: var(--by-yellow-6);
}

.danger,
.outline_danger {
  color: var(--by-red-6);
}

.danger:hover,
.outline_danger:hover {
  color: var(--by-red-7);
}

/* outline */

.outline_flat,
.outline_primary,
.outline_warning,
.outline_danger {
  text-decoration: underline;
}

/* disabled */
a.l.disabled {
  pointer-events: none;
  opacity: 0.75;
}
