:root {
  --by-white: #ffffff;
  --by-black: #000000;
  --by-transparent: transparent;

  --by-comfy: #f8fafc;
  --by-comfy-1: #f1f5f9;
  --by-comfy-2: #e2e8f0;
  --by-comfy-3: #cbd5e1;
  --by-comfy-4: #94a3b8;
  --by-comfy-5: #64748b;
  --by-comfy-6: #475569;
  --by-comfy-7: #334155;
  --by-comfy-8: #1e293b;
  --by-comfy-9: #0f172a;

  --by-gray: #f9fafb;
  --by-gray-1: #f3f4f6;
  --by-gray-2: #e5e7eb;
  --by-gray-3: #d1d5db;
  --by-gray-4: #9ca3af;
  --by-gray-5: #6b7280;
  --by-gray-6: #4b5563;
  --by-gray-7: #374151;
  --by-gray-8: #1f2937;
  --by-gray-9: #111827;

  --by-yellow: #fefce8;
  --by-yellow-1: #fef9c3;
  --by-yellow-2: #fef08a;
  --by-yellow-3: #fde047;
  --by-yellow-4: #facc15;
  --by-yellow-5: #eab308;
  --by-yellow-6: #ca8a04;
  --by-yellow-7: #a16207;
  --by-yellow-8: #854d0e;
  --by-yellow-9: #713f12;

  --by-red: #fef2f2;
  --by-red-1: #fee2e2;
  --by-red-2: #fecaca;
  --by-red-3: #fca5a5;
  --by-red-4: #f87171;
  --by-red-5: #ef4444;
  --by-red-6: #dc2626;
  --by-red-7: #b91c1c;
  --by-red-8: #991b1b;
  --by-red-9: #7f1d1d;

  --by-binyal-color: #fdf2f8;
  --by-binyal-color-1: #fce7f3;
  --by-binyal-color-2: #fbcfe8;
  --by-binyal-color-3: #f9a8d4;
  --by-binyal-color-4: #f472b6;
  --by-binyal-color-5: #ec4899;
  --by-binyal-color-6: #db2777;
  --by-binyal-color-7: #be185d;
  --by-binyal-color-8: #9d174d;
  --by-binyal-color-9: #831843;

  --by-modal-color: #e2e8f04f;

  --by-font-size: 1rem;
  --by-font-size-small: 0.875rem;
  --by-font-size-large: 1.125rem;

  --by-line-height: 1.5;
  --by-line-height-small: 1.5;
  --by-line-height-large: 1.5;

  --by-height-medium: 40px;
  --by-height-large: 48px;
  --by-height-small: 32px;

  --by-radius: 4px;
  --by-radius-round: 50%;

  --by-font-family: Arial, sans-serif;

  --by-tab-size: 4;
  --by-font-weight-button: 400;

  --by-padding-large-x: 16px;
  --by-padding-large-y: 8px;
  --by-padding-medium-x: 12px;
  --by-padding-medium-y: 6px;
  --by-padding-small-x: 8px;
  --by-padding-small-y: 4px;

  --by-icon-large: 24px;
  --by-icon-medium: 20px;
  --by-icon-small: 16px;

  --by-select-large-icon: 12px;
  --by-select-medium-icon: 10px;
  --by-select-small-icon: 8px;
}

p,
hr,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  font: inherit;
}

html {
  font-family: var(--by-font-family);
  font-size: var(--by-font-size);
  line-height: var(--by-line-height);
  tab-size: var(--by-tab-size);
}

*,
*:before,
*:after {
  box-sizing: border-box;
}
